{% extends 'main/layout.html' %} {% load static %} {% block styles %}
<link rel="stylesheet" href="{% static 'courses/css/style_lesson.css' %}" />
{% endblock %} {% block title %}Урок{% endblock %} {% block content %}
<div class="container">
  <header>
    <a href="{% url 'courses:current_course' course_id=course.id_course %}">← Назад к курсу</a>
  </header>
  <h1>Тема: {{ lesson.topic }}</h1>
  <div class="video-area">
    {% if lesson.video_url %}
      <video id="video-preview" controls src="{{ lesson.video_url }}"></video>
    {% else %}
      <div style="color: #888;">Видео не добавлено</div>
    {% endif %}
    
    <input
      type="file"
      id="video-input"
      accept="video/*"
      style="display: none"
    />
  </div>
  <div class="materials">
    <h2>Материалы</h2>
    <div class="material-item">
      <span>📝</span> Конспект урока
      <input
        type="file"
        class="file-input"
        accept=".pdf,.doc,.docx"
        style="display: none"
      />
      <button class="attach-btn" onclick="this.previousElementSibling.click()">
        Прикрепить
      </button>
    </div>
    <div class="material-item">
      <span>📊</span> Презентация урока
      <input
        type="file"
        class="file-input"
        accept=".pdf,.ppt,.pptx"
        style="display: none"
      />
      <button class="attach-btn" onclick="this.previousElementSibling.click()">
        Прикрепить
      </button>
    </div>
    <div class="links">
      <span>🌐</span> Ссылки
      <p>https://www.freecodecamp.org/</p>
      <p>https://developer.mozilla.org/</p>
    </div>
  </div>
  <div class="input-sections">
    <div class="input-section">
      <input
        type="text"
        placeholder="Задание 1: Создайте адаптивный сайт-одностраничник..."
      />
      <input
        type="file"
        class="file-input"
        accept=".pdf,.doc,.docx"
        style="display: none"
      />
      <button class="attach-btn" onclick="this.previousElementSibling.click()">
        Прикрепить
      </button>
      <button class="submit-btn">Отправить</button>
    </div>
    <div class="input-section">
      <input
        type="text"
        placeholder="Задание 2: Создайте страницу с использованием кастомных..."
      />
      <input
        type="file"
        class="file-input"
        accept=".pdf,.doc,.docx"
        style="display: none"
      />
      <button class="attach-btn" onclick="this.previousElementSibling.click()">
        Прикрепить
      </button>
      <button class="submit-btn">Отправить</button>
    </div>
  </div>
</div>
{% endblock %}
